*{box-sizing: border-box;}

html{
  font-size: 16px;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  color: $darkblue;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {list-style: none;}

p {
  padding: 0;
  margin: 0;
}

.container{
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  position: relative;

  @include tablets{
    padding: 0 15px;
  }

  &--row{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &--row-align{
    align-items: flex-start;
  }

  &--red{

    &:before{
      content: '';
      display: block;
      position: absolute;
      background: $red;
      width: 100%;
      height: 4px;
      top: -34px;
    }
  }
}

.wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.maincontent{
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-title{
  font-family: 'arimobold', sans-serif;
  font-size: 48px;
  line-height: 55px;
  color: $darkblue;

  &--red{
    color: $red;
  }
}

.second-title{
  color: $white;
  font-size: 32px;
  line-height: 37px;
  font-family: 'arimobold', sans-serif;
  margin-top: 25px;

  &--darkblue{
    color: $darkblue;
  }

  &--arrow{
    display: flex;
  }
}

.third-title{
  color: $darkblue;
  font-size: 18px;
  line-height: 22px;
  font-family: 'arimobold', sans-serif;
}

.fourth-title{
  font-family: 'arimo', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: $darkblue;
  margin-bottom: 16px;
  margin-top: 50px;
  position: relative;

  &--no-margin{
    margin-top: 0;
  }

  &--bold{
    font-family: 'arimobold', sans-serif;
    margin-top: 30px;
    border-bottom: 1px solid $black;
    width: 100%;
    padding-bottom: 15px;
  }

  &--no-border{
    border-bottom: none;
    padding-bottom: 0;
  }

  &--margin{
    margin-top: 50px;
  }
}

.main-text{
  font-size: 16px;
  line-height: 19px;
  color: $black;
  position: relative;

  &--info{
    color: $blue-btn;
    background-color: $blue-footer;
    padding: 20px 0 20px 60px;
    margin-bottom: 40px;
    width: 74%;

    &:before{
      content: '';
      position: absolute;
      display: block;
      background-image: url(../img/icons/Icon_info.svg);
      width: 24px;
      height: 24px;
      left: 20px;
      top: 26px;
    }
  }

  &--margin{
    margin-top: 20px;
  }

  &--small{
    font-size: 14px;
    line-height: 17px;
    color: $black;
  }

  &--big{
    font-size: 18px;
    line-height: 21px;
  }

  &--small-blue{
    font-size: 12px;
    line-height: 14px;
    color: $blue-btn;
    font-family: 'robotolight';
    margin-top: 10px;
  }

  &--type{
    font-size: 14px;
    line-height: 17px;
    color: $blue-btn;
    margin-bottom: 20px;

    span{
      font-family: 'robotobold';
    }
  }
}

.back{
  margin-right: 25px;
}

.agree{
  margin-top: 15px;

  label{
    font-size: 14px;
    line-height: 17px;
    color: $black;
  }

  &--big{

    label{
      font-size: 16px;
    }
  }

  &__link{
    color: #38638F;
    text-decoration: none;
  }

  &--blue{

    label{
      flex-direction: row;
      color: $blue-btn;
      font-size: 12px;
      margin-top: 0;
    }

    .form__checkbox + label:before{
      margin-top: 0;
      border: 1px solid $blue-btn;
      min-width: 18px;
    }

    .form__checkbox:checked + label:before {
      color: $white;
      background-color: $blue-btn;
    }
  }
}

.star{
  color: $red;
  margin-left: 5px;
}

.unsub{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    background-color: $black;
    opacity: .5;
    width: 1px;
    height: 80%;
    left: 0;
    bottom: 7%;
  }

  &__item{
    margin: 10px 0 10px 20px;
  }

  &--margin{
    margin: 15px 0;

    li{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

hr{
  border-color: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  width: 100%;
}

.row{
  display: flex;

  &--justify{
    justify-content: space-between;
    align-items: baseline;
  }
}

.column{
  display: flex;
  flex-direction: column;

  &--padding{
    padding-top: 60px;
    
    p{
      width: 100%;
      padding-right: 20px;
    }
  }

  &--width{
    min-width: 585px;
    margin-right: 40px;
  }

  &--wise{
    width: 670px;
    margin-right: 40px;
  }
}

.organization{
  display: flex;
  flex-direction: column;
}