//colors
$darkblue: #0C2641;
$darkblue-rgba: rgba(12, 38, 65, 0.87);
$red: #E11838;
$lightblue: #EDF5FF;
$lightblue-rgba: rgba(171, 211, 255, 0.22);
$blue: #3C6289;

$white: #ffffff;
$white-rgba: rgba(255, 255, 255, 0.7);
$black: #000000;
$black-rgba: rgba(0, 0, 0, 0.5);

$blue-btn: #284664;
$blue-footer: #DEEAFA;